
*.ipch
Debug/Agate.exe
*.obj
*.tlog
*.log
Agate/Debug/vc142.idb
Agate/Debug/Agate.pch
*.db
*.recipe
*.lib
*.idb
*.pch
.vs/Agate/v16/.suo
*.ilk
*.pdb
*.user
*.db-shm
*.db-wal
*.opendb
x64/Debug/Agate.exe
Core/Core.vcxproj.filters
AgateEngine/AgateEngine.vcxproj.filters
AgateEngine/AgateEngine.vcxproj.filters
AgateEngine/AgateEngine.vcxproj.filters
